/* Home page (index.html) style sheet */

/* Imported fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

* {
    font-family: "Montserrat", sans-serif;
    color: #edf0f1;
    background-color: #24252A;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*
Navigation bar styles
*/
li,
header a,
#tasis_button {
    font-weight: 500;
    font-size: 18px;
    text-decoration: none;
    background-color: #1e1f22;
}

header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 30px 10%;
    background-color: #1e1f22;
}

.logo {
    width: 10%;
    height: 10%;
    margin-right: auto;
    border-radius: 50px;
}

.nav-links {
    list-style: none;
}

.nav-links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav-links li a {
    transition: all 0.3s ease 0s;
}

.nav-links li a:hover {
    color: #0088a9;
}

#tasis_button {
    margin-left: 30px;
    padding: 9px 25px;
    background-color: rgba(0, 136, 169, 1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

#tasis_button:hover {
    background-color: rgba(0, 136, 169, 0.7);
}



/*
HOME page 
*/
.home {
    margin: 100px 40px 50px 40px;
    display: flex;
    align-items: center;
}

/* Bio */
.bio {
    display: flex;
    align-items: center;
}

#aarocerr_image {
    width: 250px;
    height: auto;
    border-radius: 20px;
}

#bio_text {
    margin-left: 40px;
    margin-right: 140px;
    font-size: 140%;
    line-height: 140%;
}

#bio_text h3 {
    color: #0088a9;
}

/* GitHub */
.github {
    display: flex;
    align-items: center;
}

#github_image {
    width: 310px;
    height: auto;
    border-radius: 50px;
}

#github_text {
    margin-left: 40px;
    line-height: 150%;
}

#github_text h2 {
    color: #0088a9;
}

#github_text p {
    font-size: 110%;
}

#github_text a {
    color: #0088a9;
}

#github_text a:hover {
    color: #056077;
}
