/* Harnessing Human Energy project (project_c) stylesheet */

/* Imported fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

* {
    font-family: "Montserrat", sans-serif;
    color: #edf0f1;
    background-color: #24252A;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*
Navigation bar styles
*/
li, header a, button {
    font-weight: 500;
    font-size: 18px;
    text-decoration: none;
    background-color: #1e1f22;
}

header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 30px 10%;
    background-color: #1e1f22;
}

.logo {
    width: 10%;
    height: 10%;
    margin-right: auto;
    border-radius: 50px;
}

.nav-links {
    list-style: none;
}

.nav-links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav-links li a {
    transition: all 0.3s ease 0s;
}

.nav-links li a:hover {
    color: #0088a9;
}

button {
    margin-left: 30px;
    padding: 9px 25px;
    background-color: rgba(0, 136, 169, 1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover {
    background-color: rgba(0, 136, 169, 0.7);
}
